* {
  box-sizing: border-box;
}


.Popover {
  z-index: 10000;
}

.dark-toast{
  background: #323232;
  color: #fff;
}
 
.dark-toast > .toastify__close{
  color: #fff;
}
 
.transparent-progress{
  background:  rgba(255,255,255,.7);
}